<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.WineCultureMapper">

    <select id="queryWineCulturesList" resultMap="hi">
        select * from tz_wine_culture
    </select>

    
    <resultMap id="hi" type="com.bean.WineCulture">
        <result column="create_time" property="createTime"></result>
        <result column="user_id" property="userId"></result>
    </resultMap>
</mapper>